<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Simple Image Server</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
        	<!-- Defines one or more packages that contain application-specific resources and providers -->
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.polimi.mw2016.rest.imageserver</param-value>
        </init-param>
		<init-param>
			<!-- Defines one or more class names that implement application-specific resources and providers -->
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>       	
    </servlet>    
    <servlet-mapping>
        <servlet-name>Simple Image Server</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    
    <ejb-local-ref>  
		<ejb-ref-name>ejb/UserService</ejb-ref-name>  
		<local>com.polimi.mw2016.rest.imageserver.service.UserService</local>  
	</ejb-local-ref>
    
    <!-- SECURITY CONFIGURATION -->
   	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>imageserver-realm</realm-name>
	</login-config>
	
	<!-- SECURITY CONSTRAINT #0 -->
	<!-- Everything under HTTPS protocol -->
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>HTTPS</web-resource-name>
	        <url-pattern>/*</url-pattern>
	    </web-resource-collection>
	    <user-data-constraint>
	        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	    </user-data-constraint>
	</security-constraint>	
	
	<!-- SECURITY CONSTRAINT #1 -->
	<!-- authz endpoint accepts only basic authentication -->
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>Authorization Server</web-resource-name>
	        <url-pattern>/resources/authz</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>REGISTRATO</role-name>
	    </auth-constraint>
	    <user-data-constraint>
	        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	    </user-data-constraint>
	</security-constraint>		
	  
</web-app>
